# Practicumopdrachten Week 2.2 (eerste kans)

## Dependencies importeren

Importeer in het codeblok hieronder de packages die worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

In [2]:

import warnings
import pandas as pd
import sqlite3 as sql
warnings.simplefilter('ignore')

C:\Users\robbi\AppData\Local\Temp\ipykernel_23700\726801694.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Zet het bestand go_sales.sqlite in hetzelfde mapje als dit notebook.

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite.

In [3]:
sales_connection = sql.connect("go_sales.sqlite")

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [4]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
pd.read_sql_query(sql_query,sales_connection)
#Vul dit codeblok verder in

                name
0            country
1      order_details
2       order_header
3       order_method
4            product
5       product_line
6       product_type
7      retailer_site
8      return_reason
9      returned_item
10      sales_branch
11       sales_staff
12  SALES_TARGETData
13   sqlite_sequence

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [5]:
dictionary = pd.read_sql_query("SELECT * FROM sales_staff",sales_connection)
dataframe = pd.DataFrame(dictionary)

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [6]:
sales_staff_code_querry = "SELECT SALES_STAFF_CODE FROM sales_staff"
sales_staff_code_result = pd.read_sql_query(sales_staff_code_querry,sales_connection)

sales_staff_code_series = sales_staff_code_result['SALES_STAFF_CODE']

work_phone_querry = "SELECT WORK_PHONE FROM sales_staff"
work_phone_result = pd.read_sql_query(work_phone_querry,sales_connection)

work_phone_series = work_phone_result['WORK_PHONE']

extension_querry = "SELECT EXTENSION FROM sales_staff"
extension_result = pd.read_sql_query(extension_querry,sales_connection)

extension_series = extension_result['EXTENSION']

fax_querry = "SELECT FAX FROM sales_staff"
fax_result = pd.read_sql_query(fax_querry,sales_connection)

fax_series = fax_result['FAX']

email_querry = "SELECT EMAIL FROM sales_staff"
email_result = pd.read_sql_query(email_querry,sales_connection)

email_series = email_result['EMAIL']

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [7]:
contact_details = pd.concat([sales_staff_code_series, work_phone_series,extension_series,fax_series,email_series],axis = 1)
print(contact_details)

    SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0                100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1                101        82-2-778-6587      1228        82-2-778-6586
2                102        82-2-778-6587      2641        82-2-778-6586
3                103      886-2-2975-1988      1541      886-2-2989-4978
4                104      886-2-2975-1988      2311      886-2-2989-4978
..               ...                  ...       ...                  ...
97                95      +35 94 322 3540       325      +35 91 548 1637
98                96    +55 (11) 344-4444      3490    +55 (11) 333-2223
99                97    +55 (11) 344-4444      3364    +55 (11) 333-2223
100               98    +55 (11) 344-4444      1442    +55 (11) 333-2223
101               99  +358(0)17 - 433 127       489  +358(0)17 - 433 129

                       EMAIL
0    TSavolainen@grtd123.com
1           CKim@grtd123.com
2          JChoi@grtd123.com
3          KKwao@grtd123.com
4           CFon@grtd123.com
..                       ...
97     TIglesias@grtd123.com
98        BLopes@grtd123.com
99       VBarros@grtd123.com
100   EGuimaraes@grtd123.com
101    HLindholm@grtd123.com

[102 rows x 5 columns]

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [8]:
nieuw_dataframe = contact_details.head(5)
print(nieuw_dataframe)

  SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0              100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1              101        82-2-778-6587      1228        82-2-778-6586
2              102        82-2-778-6587      2641        82-2-778-6586
3              103      886-2-2975-1988      1541      886-2-2989-4978
4              104      886-2-2975-1988      2311      886-2-2989-4978

                     EMAIL
0  TSavolainen@grtd123.com
1         CKim@grtd123.com
2        JChoi@grtd123.com
3        KKwao@grtd123.com
4         CFon@grtd123.com

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [9]:
EN_list = ['EN'] * 5
EN_series = pd.Series(EN_list)
nieuw_dataframe['FIRST_LANGUAGE'] = EN_series

print(nieuw_dataframe)

  SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0              100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1              101        82-2-778-6587      1228        82-2-778-6586
2              102        82-2-778-6587      2641        82-2-778-6586
3              103      886-2-2975-1988      1541      886-2-2989-4978
4              104      886-2-2975-1988      2311      886-2-2989-4978

                     EMAIL FIRST_LANGUAGE
0  TSavolainen@grtd123.com             EN
1         CKim@grtd123.com             EN
2        JChoi@grtd123.com             EN
3        KKwao@grtd123.com             EN
4         CFon@grtd123.com             EN

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [10]:
second_language_dict = {'0':'FR','1':'FR','2':'FR','3':'DE','4':'DE'}
second_language_series = pd.Series(second_language_dict)

second_language_series = second_language_series.reset_index(drop=True)

nieuw_dataframe['SECOND_LANGUAGE'] = second_language_series

print(nieuw_dataframe)

  SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0              100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1              101        82-2-778-6587      1228        82-2-778-6586
2              102        82-2-778-6587      2641        82-2-778-6586
3              103      886-2-2975-1988      1541      886-2-2989-4978
4              104      886-2-2975-1988      2311      886-2-2989-4978

                     EMAIL FIRST_LANGUAGE SECOND_LANGUAGE
0  TSavolainen@grtd123.com             EN              FR
1         CKim@grtd123.com             EN              FR
2        JChoi@grtd123.com             EN              FR
3        KKwao@grtd123.com             EN              DE
4         CFon@grtd123.com             EN              DE

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [11]:
dict = {'THIRD_LANGUAGE':['NL','NL','JPN','JPN','KOR']}
df = pd.DataFrame(dict)
nieuw_dataframe['THIRD_LANGUAGE'] = df

print(nieuw_dataframe)

  SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0              100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1              101        82-2-778-6587      1228        82-2-778-6586
2              102        82-2-778-6587      2641        82-2-778-6586
3              103      886-2-2975-1988      1541      886-2-2989-4978
4              104      886-2-2975-1988      2311      886-2-2989-4978

                     EMAIL FIRST_LANGUAGE SECOND_LANGUAGE THIRD_LANGUAGE
0  TSavolainen@grtd123.com             EN              FR             NL
1         CKim@grtd123.com             EN              FR             NL
2        JChoi@grtd123.com             EN              FR            JPN
3        KKwao@grtd123.com             EN              DE            JPN
4         CFon@grtd123.com             EN              DE            KOR

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [18]:
sales_staff = pd.read_sql_query('SELECT * FROM sales_staff',sales_connection)

nieuwe_medewerker_dictionary = {'SALES_STAFF_CODE':[200],'FIRST_NAME':['BART'],'LAST_NAME':['SMIT'],'POSITION_EN':['CEO'],'WORK_PHONE':['+316 38345856'],'EXTENSION':['123'],'FAX': ['+55 (11) 444-2844'],'EMAIL':['bart.smit@gmail.com'],'DATE_HIRED':['17-9-2014'],'SALES_BRANCH_CODE':[1],'TRIAL888':['T']}
new_sales_staff = pd.concat([sales_staff,pd.DataFrame(nieuwe_medewerker_dictionary)],ignore_index=True)

print(new_sales_staff)

    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                   POSITION_EN  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
98                96     Bayard       Lopes                Branch Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative
102              200       BART        SMIT                           CEO

              WORK_PHONE EXTENSION                  FAX  \
0    +358(0)17 - 433 127       825  +358(0)17 - 433 129
1          82-2-778-6587      1228        82-2-778-6586
2          82-2-778-6587      2641        82-2-778-6586
3        886-2-2975-1988      1541      886-2-2989-4978
4        886-2-2975-1988      2311      886-2-2989-4978
..                   ...       ...                  ...
98     +55 (11) 344-4444      3490    +55 (11) 333-2223
99     +55 (11) 344-4444      3364    +55 (11) 333-2223
100    +55 (11) 344-4444      1442    +55 (11) 333-2223
101  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102        +316 38345856       123    +55 (11) 444-2844

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T
102      bart.smit@gmail.com   17-9-2014                 1        T

[103 rows x 11 columns]

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [21]:
new_sales_staff['FULL_NAME'] = new_sales_staff['FIRST_NAME'] + " " + new_sales_staff['LAST_NAME']

print(new_sales_staff)

    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                   POSITION_EN  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
98                96     Bayard       Lopes                Branch Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative
102              200       BART        SMIT                           CEO

              WORK_PHONE EXTENSION                  FAX  \
0    +358(0)17 - 433 127       825  +358(0)17 - 433 129
1          82-2-778-6587      1228        82-2-778-6586
2          82-2-778-6587      2641        82-2-778-6586
3        886-2-2975-1988      1541      886-2-2989-4978
4        886-2-2975-1988      2311      886-2-2989-4978
..                   ...       ...                  ...
98     +55 (11) 344-4444      3490    +55 (11) 333-2223
99     +55 (11) 344-4444      3364    +55 (11) 333-2223
100    +55 (11) 344-4444      1442    +55 (11) 333-2223
101  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102        +316 38345856       123    +55 (11) 444-2844

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888  \
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T
102      bart.smit@gmail.com   17-9-2014                 1        T

             FULL_NAME
0    Tuomas Savolainen
1         Chang-ho Kim
2         Jung-ho Choi
3        Kwei-Ping Kao
4       Chin-Tsai Fang
..                 ...
98        Bayard Lopes
99       Viviam Barros
100  Eduardo Guimarães
101    Helena Lindholm
102          BART SMIT

[103 rows x 12 columns]

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [22]:
print(sales_staff.dtypes)

SALES_STAFF_CODE     object
FIRST_NAME           object
LAST_NAME            object
POSITION_EN          object
WORK_PHONE           object
EXTENSION            object
FAX                  object
EMAIL                object
DATE_HIRED           object
SALES_BRANCH_CODE    object
TRIAL888             object
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [ ]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(int)
sales_staff.dtypes

NameError: name 'sales_staff' is not defined

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [24]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(float)
sales_staff.dtypes

SALES_STAFF_CODE      object
FIRST_NAME            object
LAST_NAME             object
POSITION_EN           object
WORK_PHONE            object
EXTENSION            float64
FAX                   object
EMAIL                 object
DATE_HIRED            object
SALES_BRANCH_CODE     object
TRIAL888              object
dtype: object

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [25]:
sales_staff['EXTENSION'] += 1

print(sales_staff)

    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                   POSITION_EN  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
97                95      Tomás    Iglesias  Level 2 Sales Representative
98                96     Bayard       Lopes                Branch Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative

              WORK_PHONE  EXTENSION                  FAX  \
0    +358(0)17 - 433 127      826.0  +358(0)17 - 433 129
1          82-2-778-6587     1229.0        82-2-778-6586
2          82-2-778-6587     2642.0        82-2-778-6586
3        886-2-2975-1988     1542.0      886-2-2989-4978
4        886-2-2975-1988     2312.0      886-2-2989-4978
..                   ...        ...                  ...
97       +35 94 322 3540      326.0      +35 91 548 1637
98     +55 (11) 344-4444     3491.0    +55 (11) 333-2223
99     +55 (11) 344-4444     3365.0    +55 (11) 333-2223
100    +55 (11) 344-4444     1443.0    +55 (11) 333-2223
101  +358(0)17 - 433 127      490.0  +358(0)17 - 433 129

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
97     TIglesias@grtd123.com   19-2-2014                29        T
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T

[102 rows x 11 columns]

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [26]:
sales_staff = sales_staff.replace('Branch Manager','General Manager')
print(sales_staff)

    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                   POSITION_EN  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
97                95      Tomás    Iglesias  Level 2 Sales Representative
98                96     Bayard       Lopes               General Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative

              WORK_PHONE  EXTENSION                  FAX  \
0    +358(0)17 - 433 127      826.0  +358(0)17 - 433 129
1          82-2-778-6587     1229.0        82-2-778-6586
2          82-2-778-6587     2642.0        82-2-778-6586
3        886-2-2975-1988     1542.0      886-2-2989-4978
4        886-2-2975-1988     2312.0      886-2-2989-4978
..                   ...        ...                  ...
97       +35 94 322 3540      326.0      +35 91 548 1637
98     +55 (11) 344-4444     3491.0    +55 (11) 333-2223
99     +55 (11) 344-4444     3365.0    +55 (11) 333-2223
100    +55 (11) 344-4444     1443.0    +55 (11) 333-2223
101  +358(0)17 - 433 127      490.0  +358(0)17 - 433 129

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
97     TIglesias@grtd123.com   19-2-2014                29        T
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T

[102 rows x 11 columns]

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [27]:
sales_staff = sales_staff.rename(columns = {'POSITION_EN':'POSITION'})
print(sales_staff)

    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                      POSITION  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
97                95      Tomás    Iglesias  Level 2 Sales Representative
98                96     Bayard       Lopes               General Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative

              WORK_PHONE  EXTENSION                  FAX  \
0    +358(0)17 - 433 127      826.0  +358(0)17 - 433 129
1          82-2-778-6587     1229.0        82-2-778-6586
2          82-2-778-6587     2642.0        82-2-778-6586
3        886-2-2975-1988     1542.0      886-2-2989-4978
4        886-2-2975-1988     2312.0      886-2-2989-4978
..                   ...        ...                  ...
97       +35 94 322 3540      326.0      +35 91 548 1637
98     +55 (11) 344-4444     3491.0    +55 (11) 333-2223
99     +55 (11) 344-4444     3365.0    +55 (11) 333-2223
100    +55 (11) 344-4444     1443.0    +55 (11) 333-2223
101  +358(0)17 - 433 127      490.0  +358(0)17 - 433 129

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
97     TIglesias@grtd123.com   19-2-2014                29        T
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T

[102 rows x 11 columns]

## Data verwijderen

### Rijen

De medewerkers op indexen 99, 100 en 101 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [29]:
sales_staff = sales_staff.drop([99,100,101])

print(sales_staff)

   SALES_STAFF_CODE FIRST_NAME   LAST_NAME                      POSITION  \
0               100     Tuomas  Savolainen  Level 2 Sales Representative
1               101   Chang-ho         Kim  Level 2 Sales Representative
2               102    Jung-ho        Choi  Level 3 Sales Representative
3               103  Kwei-Ping         Kao  Level 2 Sales Representative
4               104  Chin-Tsai        Fang  Level 3 Sales Representative
..              ...        ...         ...                           ...
94               92       Jake      Cartel  Level 2 Sales Representative
95               93       John      Sinden  Level 3 Sales Representative
96               94    Yolanda      Torres  Level 3 Sales Representative
97               95      Tomás    Iglesias  Level 2 Sales Representative
98               96     Bayard       Lopes               General Manager

             WORK_PHONE  EXTENSION                  FAX  \
0   +358(0)17 - 433 127      826.0  +358(0)17 - 433 129
1         82-2-778-6587     1229.0        82-2-778-6586
2         82-2-778-6587     2642.0        82-2-778-6586
3       886-2-2975-1988     1542.0      886-2-2989-4978
4       886-2-2975-1988     2312.0      886-2-2989-4978
..                  ...        ...                  ...
94  +(61) 03 2982  4242     1649.0  +(61) 03 2982  4243
95  +(61) 03 2982  4242     1893.0  +(61) 03 2982  4243
96      +35 94 322 3540      126.0      +35 91 548 1637
97      +35 94 322 3540      326.0      +35 91 548 1637
98    +55 (11) 344-4444     3491.0    +55 (11) 333-2223

                      EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888
0   TSavolainen@grtd123.com   23-7-2014                31        T
1          CKim@grtd123.com  15-12-2014                32        T
2         JChoi@grtd123.com  27-11-2014                32        T
3         KKwao@grtd123.com   7-10-2014                33        T
4          CFon@grtd123.com    8-5-2012                33        T
..                      ...         ...               ...      ...
94      JCartel@grtd123.com  15-12-2015                28        T
95      JSinden@grtd123.com  30-11-2015                28        T
96      YTorres@grtd123.com   29-8-2011                29        T
97    TIglesias@grtd123.com   19-2-2014                29        T
98       BLopes@grtd123.com   12-8-2013                30        T

[99 rows x 11 columns]

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.

In [30]:
sales_staff = sales_staff.drop('FAX',axis=1)

print(sales_staff)

   SALES_STAFF_CODE FIRST_NAME   LAST_NAME                      POSITION  \
0               100     Tuomas  Savolainen  Level 2 Sales Representative
1               101   Chang-ho         Kim  Level 2 Sales Representative
2               102    Jung-ho        Choi  Level 3 Sales Representative
3               103  Kwei-Ping         Kao  Level 2 Sales Representative
4               104  Chin-Tsai        Fang  Level 3 Sales Representative
..              ...        ...         ...                           ...
94               92       Jake      Cartel  Level 2 Sales Representative
95               93       John      Sinden  Level 3 Sales Representative
96               94    Yolanda      Torres  Level 3 Sales Representative
97               95      Tomás    Iglesias  Level 2 Sales Representative
98               96     Bayard       Lopes               General Manager

             WORK_PHONE  EXTENSION                    EMAIL  DATE_HIRED  \
0   +358(0)17 - 433 127      826.0  TSavolainen@grtd123.com   23-7-2014
1         82-2-778-6587     1229.0         CKim@grtd123.com  15-12-2014
2         82-2-778-6587     2642.0        JChoi@grtd123.com  27-11-2014
3       886-2-2975-1988     1542.0        KKwao@grtd123.com   7-10-2014
4       886-2-2975-1988     2312.0         CFon@grtd123.com    8-5-2012
..                  ...        ...                      ...         ...
94  +(61) 03 2982  4242     1649.0      JCartel@grtd123.com  15-12-2015
95  +(61) 03 2982  4242     1893.0      JSinden@grtd123.com  30-11-2015
96      +35 94 322 3540      126.0      YTorres@grtd123.com   29-8-2011
97      +35 94 322 3540      326.0    TIglesias@grtd123.com   19-2-2014
98    +55 (11) 344-4444     3491.0       BLopes@grtd123.com   12-8-2013

   SALES_BRANCH_CODE TRIAL888
0                 31        T
1                 32        T
2                 32        T
3                 33        T
4                 33        T
..               ...      ...
94                28        T
95                28        T
96                29        T
97                29        T
98                30        T

[99 rows x 10 columns]