In [1]:
import warnings
warnings.simplefilter('ignore')
import pandas as pd
import numpy as np
import sqlite3

In [3]:
db = sqlite3.connect("Databases/GreatOutdoors/go_sales.sqlite")
sales_data_forecast_db = sqlite3.connect("Databases/GreatOutdoors/GO_SALES_PRODUCT_FORECASTData.csv")
sales_inventory_levels_db = sqlite3.connect("Databases/GreatOutdoors/GO_SALES_INVENTORY_LEVELSData.csv")

In [4]:
product = pd.read_sql_query("SELECT * FROM product;", db)
sales_branch = pd.read_sql_query("SELECT * FROM sales_branch;", db)
product_type = pd.read_sql_query("SELECT * FROM product_type;", db)
returns = pd.read_sql_query("SELECT * FROM returned_item;", db)
order_details = pd.read_sql_query("SELECT * FROM order_details;", db)
sales_staff = pd.read_sql_query("SELECT * FROM sales_staff;", db)
order_header = pd.read_sql_query("SELECT * FROM order_header;", db)
returned_item  = pd.read_sql_query("SELECT * FROM returned_item;", db)
return_reason  = pd.read_sql_query("SELECT * FROM return_reason;", db)
order_method = pd.read_sql_query("SELECT * FROM order_method;", db)

In [6]:

merged_df = pd.merge(order_header, order_details, on='ORDER_NUMBER', how='inner')
order = pd.merge(merged_df, returned_item, on='ORDER_DETAIL_CODE', how = 'inner')

##order_header, order_details, returned_item

In [13]:
sales_data_forecast = pd.read_csv("Databases/GreatOutdoors/GO_SALES_PRODUCT_FORECASTData.csv")
sales_inventory_levels = pd.read_csv("Databases/GreatOutdoors/GO_SALES_INVENTORY_LEVELSData.csv")

sales_data_merged = pd.merge(sales_data_forecast, sales_inventory_levels, 
                     on='PRODUCT_NUMBER', 
                     how='inner')

sales_data_merged = sales_data_merged.rename(columns={'YEAR': 'FORECAST_YEAR', 'MONTH': 'FORECAST_MONTH'})

sales_data_merged

,PRODUCT_NUMBER,FORECAST_YEAR,FORECAST_MONTH,EXPECTED_VOLUME,INVENTORY_YEAR,INVENTORY_MONTH,INVENTORY_COUNT
0,46,2021,1,76,12,114,NaN
1,46,2021,2,34,12,114,NaN
2,46,2021,3,158,12,114,NaN
3,46,2021,4,224,12,114,NaN
4,46,2021,5,275,12,114,NaN
...,...,...,...,...,...,...,...
233,115,2022,8,282,9,84,NaN
234,115,2022,9,920,9,84,NaN
235,115,2022,10,1081,9,84,NaN
236,115,2022,11,398,9,84,NaN
237,115,2022,12,759,9,84,NaN