In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import math
import matplotlib.pyplot as plt
import warnings
import numpy as np
import sqlite3 as sql
from mlxtend.frequent_patterns import apriori, association_rules
warnings.simplefilter('ignore')

In [2]:
conn = sql.connect('..\Databases\GreatOutdoors\go_sales.sqlite')
query = "SELECT * FROM product"
query2 = "SELECT * FROM order_details"
df = pd.read_sql(query,conn)
df2 = pd.read_sql(query2,conn)

df = df.merge(df2, on='PRODUCT_NUMBER')

df

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,LANGUAGE,PRODUCT_NAME,DESCRIPTION,TRIAL888,ORDER_DETAIL_CODE,ORDER_NUMBER,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,TRIAL879
0,1,15-2-2011,1,4,.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",T,100085,8474,40,4.01,6.03,6.03,T
1,1,15-2-2011,1,4,.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",T,100086,8470,40,4.01,6.03,6.03,T
2,1,15-2-2011,1,4,.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",T,100087,8464,48,4.01,6.03,6.03,T
3,1,15-2-2011,1,4,.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",T,100088,9254,66,4.01,6.03,6.03,T
4,1,15-2-2011,1,4,.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",T,100089,8472,88,4.01,6.03,6.03,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43058,99,15-2-2011,17,2,.6,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",T,98478,8210,30,1.97,4.94,4.94,T
43059,99,15-2-2011,17,2,.6,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",T,99566,8246,20,2,5,3.95,T
43060,99,15-2-2011,17,2,.6,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",T,99567,8239,18,2,5,5,T
43061,99,15-2-2011,17,2,.6,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",T,99568,8270,26,2,5,5,T
43062,99,15-2-2011,17,2,.6,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",T,99569,8328,28,2,5,5,T

In [3]:
df = df.loc[:,['PRODUCT_NUMBER','PRODUCT_TYPE_CODE','ORDER_NUMBER','UNIT_PRICE']]
df['PRODUCT_NUMBER'] = pd.to_numeric(df['PRODUCT_NUMBER'], errors='coerce')
df['PRODUCT_TYPE_CODE'] = pd.to_numeric(df['PRODUCT_TYPE_CODE'], errors='coerce')
df['ORDER_NUMBER'] = pd.to_numeric(df['ORDER_NUMBER'], errors='coerce')
df.fillna(method='ffill', inplace=True)  # Fill missing values
df['UNIT_PRICE'] = pd.to_numeric(df['UNIT_PRICE'], errors='coerce')
df

       PRODUCT_NUMBER  PRODUCT_TYPE_CODE  ORDER_NUMBER  UNIT_PRICE
0                   1                  1          8474        6.03
1                   1                  1          8470        6.03
2                   1                  1          8464        6.03
3                   1                  1          9254        6.03
4                   1                  1          8472        6.03
...               ...                ...           ...         ...
43058              99                 17          8210        4.94
43059              99                 17          8246        5.00
43060              99                 17          8239        5.00
43061              99                 17          8270        5.00
43062              99                 17          8328        5.00

[43063 rows x 4 columns]

In [5]:

#'ORDER_NUMBER' is de transaction identifier
df_grouped = df.groupby('ORDER_NUMBER')['PRODUCT_NUMBER'].apply(list).reset_index()

# Convert product numbers into item presence within each transaction (one-hot encoding)
transactions = df_grouped['PRODUCT_NUMBER'].tolist()
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
transactions_df = pd.DataFrame(te_ary, columns=te.columns_)

# Define minimum support and confidence thresholds
min_support = 0.02
min_confidence = 0.5

# Apply Apriori algorithm
frequent_itemsets = apriori(transactions_df, min_support=min_support, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=min_confidence)

pd.set_option('display.max_rows', None)
# Print frequent itemsets and association rules
print("Frequent Itemsets:")
print(frequent_itemsets)
print("\nAssociation Rules:")
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].to_string(index=False))

Frequent Itemsets:
      support    itemsets
0    0.086381         (1)
1    0.078172         (2)
2    0.084888         (3)
3    0.076493         (4)
4    0.075373         (5)
5    0.055970         (6)
6    0.067724         (7)
7    0.083582         (8)
8    0.085821         (9)
9    0.081716        (10)
10   0.066978        (11)
11   0.086007        (12)
12   0.073507        (13)
13   0.083022        (14)
14   0.069403        (15)
15   0.058396        (16)
16   0.099067        (17)
17   0.084701        (18)
18   0.087313        (19)
19   0.071642        (20)
20   0.064739        (21)
21   0.054851        (22)
22   0.054104        (23)
23   0.081157        (24)
24   0.060075        (25)
25   0.080784        (26)
26   0.083209        (27)
27   0.084142        (28)
28   0.106903        (29)
29   0.063433        (30)
30   0.068470        (31)
31   0.097948        (32)
32   0.088806        (33)
33   0.081157        (34)
34   0.068097        (35)
35   0.077052        (36)
36   0.046642        (37)
37   0.051679        (38)
38   0.058955        (39)
39   0.068470        (40)
40   0.064552        (41)
41   0.045149        (42)
42   0.058582        (43)
43   0.070896        (44)
44   0.045522        (45)
45   0.030410        (46)
46   0.053918        (47)
47   0.047201        (48)
48   0.022575        (49)
49   0.061567        (50)
50   0.064739        (51)
51   0.053731        (52)
52   0.073694        (53)
53   0.070709        (54)
54   0.066604        (55)
55   0.052425        (56)
56   0.064739        (57)
57   0.071642        (58)
58   0.063246        (59)
59   0.079104        (60)
60   0.084701        (61)
61   0.086567        (62)
62   0.061194        (63)
63   0.086940        (64)
64   0.077612        (65)
65   0.051306        (66)
66   0.080037        (67)
67   0.080410        (68)
68   0.065112        (69)
69   0.072015        (70)
70   0.066978        (71)
71   0.065485        (72)
72   0.081530        (73)
73   0.101119        (74)
74   0.081157        (75)
75   0.082649        (76)
76   0.073507        (77)
77   0.057649        (78)
78   0.060634        (79)
79   0.076493        (80)
80   0.048134        (81)
81   0.079291        (82)
82   0.069590        (83)
83   0.077612        (84)
84   0.093470        (85)
85   0.092537        (86)
86   0.074627        (87)
87   0.077612        (88)
88   0.071269        (89)
89   0.067351        (90)
90   0.084142        (91)
91   0.058955        (92)
92   0.074440        (93)
93   0.104104        (94)
94   0.066978        (95)
95   0.051493        (96)
96   0.038993        (97)
97   0.059701        (98)
98   0.057463        (99)
99   0.060634       (100)
100  0.078358       (101)
101  0.077985       (102)
102  0.057276       (103)
103  0.054664       (104)
104  0.062873       (105)
105  0.082836       (106)
106  0.059142       (107)
107  0.066791       (108)
108  0.065485       (109)
109  0.072761       (110)
110  0.066791       (111)
111  0.052799       (112)
112  0.056343       (113)
113  0.064179       (114)
114  0.056530       (115)
115  0.020336      (1, 2)
116  0.020149      (1, 9)
117  0.020709     (1, 34)
118  0.020522    (43, 54)
119  0.020522    (51, 44)
120  0.022948    (44, 53)
121  0.021455    (44, 54)
122  0.023507    (44, 55)
123  0.021455    (57, 44)
124  0.021828    (60, 44)
125  0.022761    (44, 61)
126  0.023321    (44, 62)
127  0.020149    (50, 51)
128  0.020709    (50, 54)
129  0.020149    (50, 62)
130  0.020149    (51, 53)
131  0.020522    (51, 60)
132  0.021269    (51, 61)
133  0.020896    (51, 62)
134  0.023694    (53, 54)
135  0.021642    (60, 53)
136  0.025373    (61, 53)
137  0.025933    (53, 62)
138  0.020149    (58, 54)
139  0.023321    (60, 54)
140  0.023694    (61, 54)
141  0.024067    (54, 62)
142  0.021828    (60, 55)
143  0.022761    (61, 55)
144  0.020709    (62, 55)
145  0.020896    (57, 61)
146  0.020336    (57, 62)
147  0.025746    (58, 60)
148  0.024254    (58, 62)
149  0.021082    (59, 61)
150  0.020896    (59, 62)
151  0.024254    (60, 61)
152  0.024627    (60, 62)
153  0.029104    (61, 62)
154  0.020896    (80, 85)
155  0.021828    (91, 94)
156  0.021269  (101, 102)
157  0.021828  (106, 101)
158  0.022761  (104, 102)
159  0.025187  (105, 102)
160  0.024067  (107, 102)
161  0.024440  (102, 110)
162  0.025746  (102, 111)
163  0.020522  (113, 102)
164  0.020336  (104, 107)
165  0.020896  (105, 107)
166  0.022015  (105, 111)
167  0.022761  (107, 111)
168  0.020149  (110, 111)

Association Rules:
Empty DataFrame
Columns: [antecedents, consequents, support, confidence, lift]
Index: []

support: (percentage) zoveel procent van de transacties bevat allebei de producten
confidence: gebruikt om voorspellingen te doen op basis van transacties met meerdere producten. Bijvoorbeeld:
Support van product {1,2,3} is 0.03 (3%)
Support van product {1,2} is 0.05 (5%)

dan betekent is de confidence 0.03/0.05 = 0.6 of 60%.
Dit betekent dat in 60% van de transacties waarin product 1 en 2 worden gekocht, product 3 ook gekocht wordt.